@keyframes link {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.wrapper-light {
    background: #fff;
    color: #000;
}

.wrapper-light a {
  color: #000;
}
  

body {
  overflow: overlay;
  width: 100%;
  min-height: 100vh;
  background-color: #000;
  color: #fff;
}
body a {
  color: #fff;
}
body::-webkit-scrollbar {
  width: 4px;
}
body::-webkit-scrollbar-thumb {
  background-color: #FF003D;
  border-radius: 20px;
}
body .wrapper .navbar {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}
body .wrapper .navbar .container a {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px;
  transition: all 500ms ease;
  position: relative;
}
body .wrapper .navbar .container a:hover {
  color: #FF003D;
  transform: scale(1.1);
}
body .wrapper .navbar .container a:hover::after {
  content: "";
  animation-name: link;
  animation-duration: 800ms;
  animation-fill-mode: forwards;
  height: 2px;
  background-color: #FF003D;
  position: absolute;
  bottom: 0;
  left: 0;
}
body .wrapper .navbar .container .navbar-brand {
  color: #FF003D;
}
body .wrapper .navbar .container ul li {
  margin-left: 10px;
  margin-right: 10px;
}
body .wrapper .navbar .container form {
  display: flex;
  justify-content: center;
  align-items: center;
}
body .wrapper .navbar .container form img {
  cursor: pointer;
  transition: all 500ms ease;
}
body .wrapper .navbar .container form img:hover {
  transform: scale(1.1);
}
body .wrapper .container .circle-main {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  border: 17px solid #E40037;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .wrapper .container .circle-main::before {
  content: "";
  width: 500px;
  height: 500px;
  border-radius: 50%;
  position: absolute;
}
body .wrapper .container .circle-main img {
  width: 80%;
}
body .wrapper .container .circle-main .person {
  position: absolute;
  width: 290px;
  height: 190px;
  margin-bottom: 70px;
  border-radius: 5px;
}
body .wrapper .container .title {
  border-bottom: 2px solid #E40037;
}
body .wrapper .container .row .col-md-6 span {
  color: #E40037;
  font-weight: bold;
}
body .wrapper .container .row .col-md-6 .progress {
  position: relative;
  height: 20px;
  display: flex;
  align-items: center;
}
body .wrapper .container .row .col-md-6 .progress span {
  position: absolute;
  color: #000;
  font-weight: bold;
  letter-spacing: 4px;
  left: 10px;
}
body .wrapper .container .row .col-md-6 .progress .progress-bar {
  height: 20px;
  background-color: #E40037;
  font-weight: bold;
  letter-spacing: 4px;
  display: flex;
}
body .wrapper .container .row .col-md-3 {
  background-color: rgba(228, 0, 55, 0.5);
  width: 350px;
  height: 300px;
  transition: all 500ms ease;
  position: relative;
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  border-radius: 10px;
}
body .wrapper .container .row .col-md-3 .nav-link .fa-github {
  color: #E40037;
}
body .wrapper .container .row .col-md-3:nth-child(1) {
  background-image: url("../img/semena.png");
}
body .wrapper .container .row .col-md-3:nth-child(2) {
  background-image: url("../img/panda.png");
}
body .wrapper .container .row .col-md-3:nth-child(3) {
  background-image: url("../img/hex.png");
}
body .wrapper .container .row .col-md-3:nth-child(4) {
  background-image: url("../img/dashboard.png");
}
body .wrapper .container .row .col-md-3:nth-child(5) {
  background-image: url("../img/vhelp.jpg");
}
body .wrapper .container .row .col-md-3:nth-child(6) {
  background-image: url("../img/marico.png");
}
body .wrapper .container .row .col-md-3:nth-child(7) {
  background-image: url("../img/GLO.png");
}
body .wrapper .container .row .col-md-3:nth-child(8) {
  background-image: url("../img/helper.jpg");
}
body .wrapper .container .row .col-md-3:nth-child(9) {
  background-image: url("../img/todo.png");
}
body .wrapper .container .row .col-md-3:nth-child(10) {
  background-image: url("../img/portfolio.png");
}
body .wrapper .container .row .col-md-3:nth-child(11) {
  background-image: url("../img/hyperdrop.jpg");
}
body .wrapper .container .row .col-md-3:nth-child(12) {
  background-image: url("../img/quest.png");
}
body .wrapper .container .row .col-md-3:nth-child(13) {
  background-image: url("../img/bot.jpg");
}
body .wrapper .container .row .col-md-3 .content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
}
body .wrapper .container .row .col-md-3 .content .btn {
  background-color: #E40037;
  color: #fff;
  font-weight: bold;
  width: 50%;
}
body .wrapper .container .row .col-md-3 .content .content-title {
  border-top: 2px solid #E40037;
  text-align: center;
  color: #E40037;
  font-weight: bold;
}
body .wrapper .container .row .col-md-3:hover {
  background-color: rgba(0, 0, 0, 0.4);
  transform: scale(1.05);
}
body .wrapper .container .row .col-md-3:hover .content {
  display: block;
}
body .wrapper .container .row .col-md-2 button {
  background-color: #E40037;
  color: #fff;
  font-weight: bold;
  width: 100%;
  transition: all 500ms ease;
  margin-bottom: 10px;
}
body .wrapper .container .row .col-md-2 button:hover {
  transform: scale(1.1);
}
body .wrapper footer .navbar-brand {
  color: #FF003D;
  letter-spacing: 4px;
}
body .wrapper footer i {
  color: #E40037;
}

@media (max-width: 767px) {
  .wrapper .container .circle-main {
    width: 400px;
    height: 400px;
  }
  .wrapper .container .circle-main:before {
    width: 400px;
    height: 400px;
  }
  .wrapper .container .circle-main .person {
    width: 223px;
    height: 144px;
    margin-top: 10px;
  }
  .wrapper .container .title {
    letter-spacing: 10px;
  }
}
@media (max-width: 470px) {
  .wrapper .container .circle-main {
    width: 350px;
    height: 350px;
  }
  .wrapper .container .circle-main::before {
    width: 350px;
    height: 350px;
  }
  .wrapper .container .circle-main .person {
    width: 194px;
    height: 123px;
    margin-top: 19px;
  }
  .wrapper .container .title {
    letter-spacing: 10px;
  }
}/*# sourceMappingURL=style.css.map */
